* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #d179147a;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
}

.list li {
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.list li:hover {
    padding: 20px;
    background-color: #72461593;
}

ul {
    margin: 40px;
}

footer a {
    margin: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    cursor: pointer;
}